.menu-container {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  // height: 80%;
}

.links {
  align-self: center;
  width: 40%;
  height: 10%;
  display: flex;
  justify-content: space-evenly;
  gap: 6px;
  align-items: center;
  flex-wrap: wrap;

  button {
    padding: 0.8rem 1rem;
    border-radius: 20px;
    border: none;
    // background-color: #337687;
    // background-color: #222e3a;
    background-color: #031F3A;
    // color: #e9d241;
    color: #ffff;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s;
  }
}

.links button.active {
  transform: translateY(-4px);
}

.menu {
  height: 80%;
  width: 100%;
  // height: auto;
  // height: 80vh;
  // overflow: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .links {
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;

    button {
      border: none;
      -webkit-tap-highlight-color: transparent;
    }
  }
}
