.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  // background-color: #337687;
  // background-color: white;
  background-color: #222e3a;
  // background-color: #031F3A;
  color: #eceff0;
  font-size: 0.9rem;
  border-radius: 30px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-bottom: 10px;
  transform: translateY(29px);
  opacity: 0;
  transition: all 0.5s ease-in-out;

  .pic{
    position: absolute;
    left: -10%;
    width: 30%;
    height: 90%;
    border-radius: 20px;
    border: 1px solid #F2D482;

    img{
      height: 135px;
      width: 100%;
      border-radius: inherit;
      object-fit: cover;
      object-position:bottom;
    }
  }

  .details{
    width: 55%;
    padding-left: 50px;
    // display: flex;
    // flex-direction: column;
    // color: #031F3A;

    .price{
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    h2{
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-family: 'Afeesh';

      span{
        font-family: system-ui, sans-serif;
        font-style: italic;
        font-size: 80%;
        color: #8a95a0;
      }
    }
  }
}

.item.show {
  transform: translateY(0);
  opacity: 1;
}