.card {
  height: 100%;
  width: 90%;
  position: relative;
  color: #618283;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.5rem;
  padding: 30px;
  // border-radius: 10px;
  
  .item {
    height: 150px;
    width: 40%;
    // color: #031F3A;
  }
  
  .bg {
    position: absolute;
    left: 25.2%;
    height: 98%;
    width: 40%;
    background-color: #397f8c;
    z-index: -1;
    border-radius: 30px;
  }

  h1 {
    // color: #bbab35;
    color: #ffff;
    // align-self: flex-start;
    font-size: 1.8rem;
    display: flex;
    gap: 20px;
    font-family: 'Noto Nastaliq Urdu';
    margin-bottom: 30px;
    
    img {
      align-self: center;
      border-radius: 10px;
      height: 50px;
    }
  }
}


@media (min-width: 678px )and (max-width: 974px) {
  .card {
    width: 90%;

    .details{
      width: 60%;
    }

    .item, .bg{
      width: 50%;
    }
  }
}

@media (max-width: 677px) {
  .card {
    width: 95%;
    padding: 25px;

    h1{
      // width: 85%;
      font-size: 1.7rem;
      align-items: center;
    }

    .bg {
      width: 70%;
      left: 15%;
    }
    .item {
      width: 70%;
      font-size: 0.9rem;

      .pic{
        left: -1%;
        height: 92%;
        width: 30%;

        img{
          object-position: bottom;
          height: 138px;
        }
      }

      .details{
        width: 100%;
        font-size: 0.7rem;
        text-align: center;
        padding-left: 50px;
      }
    }
  }
}


@media (max-width: 375px) {
  .card {
    width: 90%;
    padding: 19px;

    h1{
      // width: 85%;
      font-size: 1.5rem;
      align-items: center;
    }

    .bg {
      height: 98.5%;
      width: 83%;
      left: 2%;
    }
    .item {
      width: 90%;
      font-size: 0.8rem;

      .pic{
        left: -5%;
        height: 80%;
        width: 40%;

        img{
          height: 120px;
          object-position: bottom;
        }
      }

      .details{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        // background-color: red;
        width: 50%;
        font-size: 0.6rem;
        // text-align: center;
        padding-left: 90px;
      }
    }
  }
}
