
.sub-title{
    // background-color: red;
    display: flex;
    justify-content: flex-end;
    width: 32%;
    padding-right: 100px;

}


// @media (max-width: 678px) {
//   .sub-title{
//     background-color: red;
//     align-self: flex-end;
//   }
// }