.header {
  color: #3d747f;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;

  h1 {
    font-size: 2.5rem;
    font-family: "Lalezar", sans-serif;
    font-style: normal;
  }

  h2{
    position: relative;
    font-weight: 700;
    font-size: 2rem;
    width: 30%;
    text-align: center;
  }

  h2::before, h2::after{
    content: '';
    width: 35%;
    height: 3px;
    background-color: #3d747f;
    position: absolute;
    top: 50%;
    border-radius: 10px;
  }
  
  h2::before{
    left: 0;
  }

  h2::after{
    right: 0;
  }
}

@media (max-width: 768px){
    .header{
        h2{
            width: 50%;

            &::before, &::after{
                width: 25%;
            }
        }
    }
}