body{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  min-height: 100vh;
  /* background-image: url('./assets/headerbg.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
}

.container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}